<section id="features">
  <div class="container">
    <div class="row">
      <div class="center">
        <div class="col-md-6 col-md-offset-3">
          <h2>Pricing</h2>
          <hr>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
      </div>

      <div class="col-md-4 wow fadeInLeft">
        <h3>Responsive</h3>
        <img src="/src/assets/images/portfolio/recent/item4.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut non cupidatat skateboard
          dolor brunch.</p>
      </div>

      <div class="col-md-4 wow fadeInUp">
        <h3>Web Design</h3>
        <img src="/src/assets/images/portfolio/recent/item5.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut non cupidatat skateboard
          dolor brunch.</p>
      </div>

      <div class="col-md-4 wow fadeInRight">
        <h3>Easy Customize</h3>
        <img src="/src/assets/images/portfolio/recent/item6.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut non cupidatat skateboard
          dolor brunch.</p>
      </div>
    </div>
  </div>
</section>