<section id="features">
  <div class="container">
      <h2>Pricing</h2>
      <hr>
      <div class="component" *ngFor="let item of components_list; let i = index">
        <div class="checked">
          <input type="checkbox" [checked]="item.checked">
        </div>
        <div class="name">{{item.name}}</div>
        <div class="price">{{item.price | currency}}</div>
        <div class="desc">{{item.desc}}</div>
      </div>
      <div class="component_cost">
          <div class="desc">Total Cost Per Month Not Including Professional  Services</div>
          <div class="price">{{733.21 | currency}}</div>
      </div>
      <div class="component_estimation">
          <div class="estimation">
            <div class="est">
                <div class="left">ESTIMATED PROFESSIONAL SERVICES IN MINUTES</div>
                <div class="right">{{170|currency}}</div>
            </div>
            <div class="pay">
                <div class="desc"><input type="checkbox">PAY AS YOU GO @ $6.25				</div>
                <div class="price">{{0|currency}}</div>
            </div>
            <div class="pay">
                <div class="desc"><input type="checkbox">PREPAID @ $4.17				</div>
                <div class="price">{{708.9|currency}}</div>
            </div>
          </div>
          <div class="description">
              ALL MINUTES CAN BE APPLIED TO ANY SERVICE. PAY AS YOU GO MINUTES ARE BILLED AT THE END OF THE MONTH WITH USAGE 
              REPORTS DELIVERED EVERY MORNING FOR THE PRIOR 24 HOURS AND MONTH-TO-DATE.
          </div>
      </div>
      <div class="component_email">
          <div class="name">Total Cost Per Month Not Including Professional  Services</div>
          <div class="price">{{1442.11 | currency}}</div>
          <div class="desc">TOTAL DUE AT SIGN UP</div>
      </div>
      <div class="component_description">
          <div class="left">PRE PAID MINUTES CAN BE USED FOR ANY SERVICE. WHEN YOU RUN OUT YOU CAN EITHER 
            BUY ANOTHER 60 MINUTES OR PAY AS YOU GO. ALL UNUSED PREPAID MINUTES ROLL OVER TO THE NEXT 30-DAY BILLING CYCLE. 
            PRE PAID MINUTES PURCHASED IN 60-MINUTE BLOCKS.
					</div>
          <div class="right">
              THIS IS NOT YOUR POLICY BUT ONLY A QUOTE FOR SERVICES. 
              IF YOU HAVE ANY QUESTIONS, 
              PLEASE, CONTACT US DIRECLTLY AT SUPPORT@XAASUTILITY.COM A COPY WILL BE EMAILED TO THE REPRESENTATIVE WHO COMPLETED 
              THIS QUOTEATION AND TO XAAS UTILITY. THANK YOU!
          </div>
      </div>
  </div>
</section>